{{#partial "header"}}
    <h1>Welcome to Hackaton Page</h1>
{{/partial}}

{{#partial "content"}}
    {{#if teams}}
        <h3>Here is the list of registered teams:</h3>
        {{#each teams}}
            <p class="newTeamMember">Team name: {{teamName}}</p>
            <p class="newTeamMember">Team description: {{description}}</p>
            <div class="viewDeleteButtons">
                <div class="row">
                    <a href="/teams/{{id}}/members" class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <span><strong>View team info</strong></span>
                    </a>
                    <a href="/teams/{{id}}/delete" class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Delete team</strong></span>
                    </a>
                </div>
            </div>
            <hr>
        {{/each}}
    {{else}}
        <p>No teams registered yet!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}