{{#partial "header"}}
    <h2>Details page</h2>
{{/partial}}

{{#partial "content"}}

    <h3>Team details:</h3>
    <p class="newTeamMember">Team name: {{currentTeam.teamName}}</p>
    <p class="newTeamMember">Team description: {{currentTeam.description}}</p>

    {{#if currentMembers}}
        <p class="newTeamMember">Members:</p>
        {{#each currentMembers}}
            <ul>
                <li>Name: {{name}}<br>Age: {{age}}</li>
            </ul>
            <div class="viewDeleteButtons">
                <div class="row">
                    <a href="/teams/{{currentTeam.id}}/members/{{memberId}}/update" class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span><strong>Edit team member</strong></span>
                    </a>
                    <a href="/teams/{{currentTeam.id}}/members/{{memberId}}/delete" class="btn btn-primary a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span><strong>Remove team member</strong></span>
                    </a>
                </div>
            </div>
        {{/each}}
        <hr>
    {{else}}
        <p class="newTeamMember"No team members yet!></p>
    {{/if}}
    <div class="viewDeleteButtons">
        <div class="row">
            <a href="/teams/{{currentTeam.id}}/members/new" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Add new member</strong></span>
            </a>
            <a href="/teams/{{currentTeam.id}}/update" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span><strong>Edit team info</strong></span>
            </a>
        </div>
    </div>
        <hr>
{{/partial}}

{{> layout.hbs}}